// @import 'yoga';
// @import 'normalize';

$fa-font-path: '/webfonts';
@import 'scss/fontawesome.scss';
@import 'scss/solid.scss';
@import 'scss/brands.scss';
//@import 'box-sizing';

$c-grey: #b3b3b3;
$c-dark: #4a4a4a;
$c-white: #fafafa;
$c-darkishGrey: #919191;


body {
  margin: 0;
  padding: 0;
  // background: url('/images/crossword.png');
  background: $c-white;
  font-family: 'IM Fell Great Primer', serif;
  color: $c-dark;
  position: relative;
  // height: 100%;
}

strong {
  text-decoration: underline;
}

p {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

@font-face {
  font-family: "Typewriter";
  src: url("/fonts/LUCKY_TYPEWRITER.ttf");
}

@font-face {
  font-family: 'Harrington';
  src: url('/fonts/HARRINGTON.ttf');
}

.li-ly {
  font-family: 'Saira', 'sans-serif';
  font-size: 1.3rem;
}

.li-ly-title {
  font-family: 'Saira', 'sans-serif';
}


.amp {
  font-family: 'Harrington', 'serif';
}

.hero {
  width: 100%;
  // min-height: 25rem;
  background: url('/images/crossword.png');
  border-bottom: 0.1rem solid $c-grey;
  position: relative;
}

.header {
  background: linear-gradient(rgba($c-white, 0.85), rgba($c-white, 0.85)), url('https://lh3.googleusercontent.com/4xksO2doaYDm0F4wdQg_CexAg0ahmOec1hFJi3ASlgpuwLIGYaa-BEj9K_ZO4wyKM2yc-CTqGQBCOhcINS7nnVgXRTOG6-avH-neDihbxopdb6iXa1Zwjk1xRpH6_lVhiQw3kdZ4PuQQ9E0CQzsSLk10a1gkdaiY4RwCr3rQpDSQw7zjvnDSjUAaCbAPkJhlagGaUi2eP4oaKtFGJAXpxLtJkQtjqOYhLo-fRCKNC874rHpvbyfr5sDL9IOP-MNo2gKXnZLKWAnQ6nNpKC9TGlubUjPXiXKBzhWBwYaATwU-9-Q9A4YYV0wnL7RLqa9coZEBlQ9YHzuVe6iCkhYBRx_acPDL5zoFgzvWcGXfVvDPtsI7S7OzGimxAwvulrcF8Bsm_6Q6LeSSNvF_RcUaLOTvQ8nyqjGL174KY5IlaymaST6uPuB8OzDxhA_R7QVG6gxHH-ZM0-2yMvYayuwJaEZhCQ723msrW_tltvDqXu7YlunAjUznTdWBJE-WW65ercX5uyPRCaN6HqHFOOz2rU1ym3y9woZSJ4fZlf3fY-CEi5EBvprw17yv0gjApXtb2HOfKgJgibFXl_90HUNJXVMJxl1545aJJlB52l_F2EYZ7cs-AyYhfeDKd4Q09liW-5ev7jpxQE_biyn0QqDrnM_GFnXDXU8YxG3eYqcQ9guRussd7RIVWA=w1058-h1410-no') center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section {
  padding: 2rem 3rem;
}

.container {
  margin: 0 auto;
  max-width: 65rem;
}

.title {
  display: flex;
  font-family: "Typewriter", serif;
  font-size: 1rem;
  color: $c-darkishGrey;
  // text-shadow: 0 0 0.1rem $c-dark;

  > * + * {
    margin-left: 3rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.subtitle {
  margin: 0;
}

.logo {
  width: 15rem;
  height: 15rem;
}

.nav {
  border-top: $c-grey 0.1rem solid;
  padding: 0;
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // background: url('/images/old_moon.png');
  background: $c-grey;
}

.nav-mobile {
  display: none;
}

.dropdown-button {
  margin: 0.5rem;
}

.dropdown-close {
  display: none;
}

.nav-items {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  font-family: "Typewriter", serif;
  color: $c-white;
  text-shadow: 0 0 1px $c-dark;

  font-size: 1.5rem;

  &:hover {
    color: $c-dark;
  }
}

.content {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: column;
  > * + * {
    margin-top: 3rem;
  }

  &__row {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;

    -webkit-justify-content: space-between;
    justify-content: space-between;
    > * + * {
      margin-left: 1rem;
    }

    &__pic {
      max-width: 20rem;
      max-height: 20rem;
      object-fit: contain;
      border-radius: 0.3rem;
      margin-top: 0;
    }

    &__text {
      margin-top: 0;
      font-size: 1.5rem;
    }
  }
}

.parallax {
  background: url('/images/plant.png');
  height: 10rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  // -webkit-justify-content: space-between;

  flex-wrap: wrap;

  &__item {
    flex-basis: calc(33% - 1rem);
    margin: 0.5rem;
    flex-grow: 1;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: center;

    justify-content: center;
  }
}

.landscape {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.3rem;
}

.landscape img {
  width: auto;
  height: 20rem;
}

.door-landscape {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.3rem;
}

.door-landscape img {
  width: auto;
  height: 20rem;
}

.portrait {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.3rem;
}

.portrait img {
  width: 20rem;
  height: auto;
}

.ladder {
  top: 50%;
  transform: translateY(-15%);
}

#inspire {
  margin-top: -2.1rem;
}

#vision {
  display: block;
  margin: auto;
  width: 50%;
}

#contact-link {
  color: $c-dark;
  font-weight: 1000;
}

.rotate {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.door-rotate {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.contact {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-justify-content: center;

  justify-content: center;

  > * + * {
    margin-left: 2rem;
  }

  &__form {
    font-size: 1.3rem;
    width: 20rem;
    margin-top: 5rem;

    &__button {
      background: $c-white;
      color: $c-dark;
      border: 0.1rem solid $c-grey;
      border-radius: 0.3rem;
      font-size: 1.3rem;
      font-family: 'IM Fell Great Primer', serif;
      padding: 0.5rem;
      transition: 0.5s;
      -webkit-transition: 0.5s;

      &:hover {
        background: $c-grey;
        color: $c-white;
        border: 0.1rem solid $c-dark;
        cursor: pointer;
      }
    }
  }
}

.input {
  font-size: 1.3rem;
  font-family: 'IM Fell Great Primer', serif;
}

.mail {
  width: 100%;
}

.comment {
  width: 100%;
}

.page-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.package {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  // -webkit-justify-content: space-between;

  flex-direction: column;
  font-size: 1.25rem;

  &__logo {
    width: 10rem;
    margin: 0 auto;
  }

  &__name {
    text-align: center;
    margin-bottom: 0;
  }

  &__price {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__disclaimer {
    margin: 0 1.5rem;
  }
}

.a-la-cart {
  text-align: center;
  border-top: 0.05rem solid $c-grey;
  margin-top: 2.5rem;

  > * + * {
    margin-top: 2.5rem;
  }
}

.faq-answer {
  margin-left: 1rem;
}

.footer {
  width: 100%;
  padding-bottom: 1rem;
}

.social-links {
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-justify-content: center;

  justify-content: center;
  margin-bottom: 0rem;
  font-size: 2rem;

  > * + * {
    margin-left: 2rem;
  }

  a {
    color: $c-grey;
  }
}

.facebook:hover {
  color: #3b5998;
}

.pinterest:hover {
  color: #C92228;
}

.instagram:hover {
  color: #c13584;

}

.number {
  font-family: 'Amiri', serif;
}

.web-credit {
  text-align: center;
  font-size: 0.8rem;

  &__link {
    color: $c-dark;
    font-weight: bold;

    &:hover {
      color: #539473;
    }
  }
}

.center {
  margin: 4rem auto 2rem;
}

.mobile {
  display: none;
  margin: 0 auto 2rem;
}

.desktop {
  display: block;
}

.mantle {
  margin-top: -3.5rem
}

.vision-board-label {
  text-align: center;
}

.project-heading {
  border-bottom: 0.05rem solid $c-grey;
}

.right {
  text-align: right;
}

.toppad {
  padding-top: 3rem;
}


@media screen and (max-width: 600px) {
  .door-rotate {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }


  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .title {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 0.8rem;

    > * + * {
      margin-left: 0;
    }

  }

  .section {
    padding: 1rem;
  }

  .logo {
    width: 13rem;
    height: 13rem;
  }

  .nav {
    display: none;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    text-align: center;
  }

  .nav-mobile {
    display: flex;
    font-family: "Typewriter", serif;
    color: $c-white;
    text-shadow: 0 0 1px $c-dark;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: $c-grey;

    &__list {
      display: none;
      flex-direction: column;
      text-align: center;
      position: relative;

      > * + * {
        padding: 0.5rem 0;
        border-top: 0.05rem solid $c-dark;
      }
    }

    #close {
      position: absolute;
      left: 0.5rem;
      top: -1.8rem;
      font-size: 1.4rem;
    }

    &:hover {
      .dropdown-button {
        // display: none;
      }

      
      > * + * {
        display: flex;
      }
    }
  }
  
  .dropdown-close {
    display: inline;
    font-size: 2rem;
    text-decoration: none;
    color: $c-dark;
    position: absolute;
    left: 10px;
    z-index: 10;
    color: rgba($c-grey, 0);
  }

  .nav-link {
    text-decoration: none;
    font-family: "Typewriter", serif;
    color: $c-white;
    text-shadow: 0 0 1px $c-dark;
    font-size: 1.2rem;
    &:hover {
      color: $c-dark;
    }
  }


  .content__row__pic {
    max-height: 10rem;
    max-width: 10rem;
  }

  .landscape {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 0.3rem;
  }

  .landscape img {
    width: auto;
    height: 10rem;
  }

  .portrait {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 0.3rem;
  }

  .portrait img {
    width: 10rem;
    height: auto;
  }

  .door-landscape {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 0.3rem;
  }

  .door-landscape img {
    width: auto;
    height: 10rem;
  }

  .contact {
    flex-direction: column;

    > * + * {
      margin-left: 0;
    }

    > * + * {
      margin-top: 2rem;
    }

    &__form {
      width: 90vw;
    }
  }


  .content__row {
    flex-direction: column;

    > * + * {
      margin-left: 0;
    }
  }

  .grid {
    flex-direction: column;

    &__item {
      flex-basis: auto;
    }
  }
}